*
	&:hover,
	&:active,
	&:focus
		outline 0
*,
*:after,
*:before
	font-smoothing antialiased
	text-rendering optimizeLegibility
ul
	margin 0
	padding 0

// select
//   &:-moz-focusring
//     color transparent
//     text-shadow 0 0 0 #000

// @keyframes ArrowMove{
//     from {transform:translate(0, 0px);}
//     65% {transform:translate(8px, 0);}
//     to {transform: translate(0, 0px);}
// }
/* clear */
.clear
	&:before,
	&:after
		content ' '
		display table
.clear
	&:after
		clear 	both
.clear
	*zoom:1

/*------------------------------------*\
    MISC
\*------------------------------------*/

::selection {
	background:#04A4CC
	color:#FFF
	text-shadow:none
}
::-webkit-selection {
	background:#04A4CC
	color:#FFF
	text-shadow:none
}
::-moz-selection {
	background:#04A4CC
	color:#FFF
	text-shadow:none
}
