/*
	Theme Name: MTB
	Theme URI:
	Description: Plantilla para el club MTB
	Version: 1.0
	Author: Gonzalo Ribera (@kune_)
	Author URI: http://kune.es
	Tags:  HTML5, CSS3, bike, mtb, club

	License: MIT
	License URI: http://opensource.org/licenses/mit-license.php
*/

@import "kouto-swiss"
normalize()
@import "_vars.styl"
@import "_mixins.styl"
@import "_helpers.styl"
@import "_fonts.styl"
@import "_typograph.styl"
@import "_calendar.styl"
box-sizing-reset()

/*------------------------------------*\
    MAIN
\*------------------------------------*/

body
	font-family 'Lato', sans-serif
	font-size 16px
	min-height 100vh
img
	max-width:100%
	vertical-align:bottom
a
	color inherit
	text-decoration none
	&.link
		color color-primario
	&.view-article
		text-transform uppercase
		text-decoration underline
		padding-left 5px
input:focus
	outline 0
	border 1px solid #04A4CC
.animsition
	display flex
	flex-direction column
	min-height 100vh
.animsition-overlay-slide
	z-index 52
	background-color color-primario
.texto-destacado
	font-weight bold

/*------------------------------------*\
    STRUCTURE
\*------------------------------------*/


/** GRID **/
[class*='grid']
	position relative
	padding 10px

@media only screen and (min-width: 768px)
	[class*='grid']
		float left
	.grid2-3
		width 66.6%
	.grid1-3
		width 33.3%
	.grid2-4
		width 50%
	.grid1-4
		width 25%

.entrada
	[class*='grid']
		float left
	.grid1-3
		width 33.3%
	.grid2-3
		width 66.6%

/* wrapper */
.wrapper
	max-width 1100px
	width 95%
	margin 0 auto
	position relative
	flex 1
/* Contenido */
.main__container
	margin-top -100px
	width 100%
.main__generico
	position relative
	z-index 200
/*------------------------------------ HEADER ------------------------------- */
.header
	position relative
	z-index 51
.navegacion
	position relative
	z-index 1
	+for_breakpoint(desktop)
		//background-color rgba(0,0,0,0.5)
		height 100px
.header__content
	align-items center
	display flex
	justify-content baseline
	margin 0 auto
	max-width 1200px
	.header__logo
		padding 5px 10px
		+for_breakpoint(desktop)
			width 150px
		.logo-img
			height auto
			max-width 75px
			width 100%
			+for_breakpoint(desktop)
				height auto
				max-width 220px
				width 100%
	.header__nav
		display none
		flex 1 0 auto
		+for_breakpoint(desktop)
			display block
			ul
				text-align center
				li
					display inline-block
					+for_breakpoint(desktop)
						cursor pointer
						padding 0 15px
						transition all .6s ease
					&.current_page_item,
					&:hover
						background-color rgba(0, 0, 0, .75)
					a
						color #ffffff
						display block
						letter-spacing 2px
						text-transform uppercase

//////// SLICK NAV ////////////
.slicknav_btn
	&.slicknav_open
		background-color color-primario
.slicknav_menu
	background none
	position absolute
	z-index 201
	right 0
	padding 15px
	+for_breakpoint(desktop)
		display none
	&.open-slicknav
		background rgba(0, 0, 0, .75)
		width 100vw
	.slicknav_btn,
	.slicknav_nav
		margin-bottom 10px
	.slicknav_nav
		text-align center
		a
			font-size 1.2rem
			font-weight bold
			&:hover
				background-color color-primario
				color white
///// fin header
/*----------------------------- FOOTER ---------------------------------------*/
.footer
	background-color black
	color #ffffff
	display flex
	flex-direction column
	padding 0
	width 100%
.footer__content
	display flex
	flex-direction column
	align-items center
	+for_breakpoint(tablet desktop)
		flex-direction row
.footer__legal
	align-self center
	flex 1 0 auto
	font-size 12px
	position relative
	z-index 1
	+for_breakpoint(tablet desktop)
		margin-left -220px
.footer__copyright
	text-align center
	margin 0
.footer__author
	text-align center
	padding 0
	margin 0
.footer__social
	position relative
	z-index 2
//////// fin footer
/*------------------------------ SOCIAL ICONS --------------------------------*/
.social__links
	list-style none
	margin 0
	padding 10px 0
	text-align center
	width 220px
	li
		display inline-block
		margin 0 5px
		width 30px
		height 30px
		cursor pointer
		position relative
		a
			display block
			font-size 30px
			color white
			pointer-events none
		&.link__mail
			a
				font-size 34px
				&:before
					position absolute
					left 0
		&.link__share__facebook
			a
				color color-facebook
		&.link__share__twitter
			a
				color color-twitter
		&.link__share__whatsapp
			a
				color color-whatsapp
		&:hover
			transition all .3s ease-out
			transform translateY(-5px)
	&.share
		text-align left
		li
			margin 0 5px 0 0

/*----------------------------------- HOME SLIDER  ----------------------------*/
.home__slider
	.bx-wrapper,
	.bx-viewport
		border none
		box-shadow none
		margin 0
	.bx-wrapper
		.bx-prev
			background-position 0 10px
			left 0
		.bx-next
			background-position -43px 10px
			right 0
		.bx-controls-direction
			a
				height 84px
				width 44px
				transform scale(0.5)
.home__slider__list
	min-height 300px
	+for_breakpoint(tablet)
		min-height 450px
.home__slider__item
	height 100%
	+for_breakpoint(desktop)
		height auto
.home__slider__item__link
	color white
	display block
	text-align center
	+for_breakpoint(tablet desktop)
		text-align left
	img
		height 100%
		max-width initial
		transform translateX(-25%)
		width auto
		+for_breakpoint(desktop)
			height auto
			max-width 100%
			transform translateX(0)
			width 100%

.home__slider__info
	background-color rgba(black, 0.6)
	bottom 0
	display flex
	flex-direction column
	height 40px
	padding 0 5%
	position absolute
	width 100%
	z-index 1
	+for_breakpoint(tablet desktop)
		height 100px
		text-align left
	.home__slider__info__title
		margin 0
		color white
		line-height 2.5
		+for_breakpoint(tablet desktop)
			text-align left
	.home__slider__info__text
		display none
		margin 0
		color white
		letter-spacing 1.1px
		a
			display inline
		+for_breakpoint(tablet desktop)
			display block

////// fin home slider
/*--------------------------- HOME DESTACADOS  --------------------------------*/
.destacados
	text-align center
	padding 20px
	.destacados__imagen
		transform rotate(0deg)
		height 50px
		img
			height 100%
	.destacados__info
		.destacados__info__title
			margin 20px 0 10px
		.destacados__info__text
			letter-spacing initial
//////// fin home destacados
/*----------------------------- HOME NOTICIAS --------------------------------*/
.noticias__item
	margin 20px 0
	+for_breakpoint(tablet desktop)
		padding-right 30px
.noticias__item__title
	margin 0 0 10px
	text-transform uppercase
	text-align left
	letter-spacing 5px
	font-size 24px
.noticias__item__text
	line-height 1.6
.noticias__item__foto
	+for_breakpoint(tablet desktop)
		max-width 250px
	&.top
		max-width 900px
		margin 0 auto 30px
////// fin home noticias
/*------------------------------- HOME RUTAS ---------------------------------*/
.rutas__item
	padding 20px
.rutas__item__info
	background-color color-secundario
	height 170px
	padding 20px
	width 80%
	margin -80px auto 0
	z-index 1
	position relative
.rutas__item__title
	align-items center
	display flex
	font-size 22px
	height 85px
	letter-spacing 4px
	position relative
	text-align left
	text-transform uppercase
	&:before,
	&:after
		content ''
		height 5px
		width 60px
		background black
		position absolute
		top -10px
	&:after
		bottom -10px
		top auto
		left 0
//////fin home rutas
/*------------------------------ SIDEBAR -------------------------------------*/
.sidebar
	margin-top 35px
.sidebar-widget
	h3
		font-size 24px
		font-weight normal
		text-align center
		text-transform uppercase
		letter-spacing 5px
////////FIN sidebar

/*------------------------------ PAGE NOTICIAS -------------------------------*/
.page__title
	color white
	text-transform uppercase
	font-size 30px
	letter-spacing 5px
	font-weight normal
	margin 10px 0 50px
	+for_breakpoint(tablet desktop)
		margin 80px 0 120px
		&.page__title__rutas
			margin-bottom 84px
.page__img__destacada
	background-size cover
	background-position center
	backgrooun-color color-primario
	height 160px
	left 0
	position absolute
	top 0
	width 100%
	+for_breakpoint(tablet desktop)
		height 300px

.main__noticias
	position relative
	z-index 200
.noticias__item__info
	text-align left
	padding 15px 5px 0 0
	+for_breakpoint(tablet desktop)
		padding-right 50px
.item__info__line
	color color-primario
	text-transform uppercase
	margin 5px 0
	span
		color black
/*--------------------------- SINGLE -----------------------------------------*/
.single__bg__color
	background color-primario
	height 82px
	left 0
	position absolute
	top 0
	width 100%
	+for_breakpoint(tablet desktop)
		height 135px
.single__title
	margin 30px 0
	text-transform uppercase
	letter-spacing 5px
	+for_breakpoint(tablet desktop)
		margin-top 60px
.single__foto
	max-width 900px
	margin 0 auto
/*----------------------------- PAGE RUTAS --------------------------------*/

.page__rutas__item
	display flex
	min-height 200px
	opacity 0
	transform scale(.5)
	flex-direction column
	margin 10px 0
	+for_breakpoint(tablet desktop)
		width 50%
		flex-direction row
		margin 0
	for items in 1..10
		&:nth-child({items})
			animation pop .5s .2s*items 1 forwards

	.imagen-destacada
		position relative
		flex 1 1 50%
		overflow hidden
		min-height 150px
		img
			-webkit-transform translateY(-50%) translateX(-50%)
			height auto
			left 50%
			max-width initial
			min-height 100%
			min-width 100%
			position absolute
			top 50%
			width auto
			opacity .8
	.rutas__item__info
		flex 1 1 50%
		margin 0
		height auto
		width 100%
	.rutas__item__title
		+for_breakpoint(tablet desktop)
			height 80%
	&.item1
		+for_breakpoint(tablet desktop)
			float right
			itemRutaBig()
	&.item2
		+for_breakpoint(tablet desktop)
			float left
			flechaIzq()
	&.item3
		+for_breakpoint(tablet desktop)
			float left
			flechaDer()
			.imagen-destacada
				order 2
	&.item4
		+for_breakpoint(tablet desktop)
			float left
			itemRutaBig()
	&.item5
		+for_breakpoint(tablet desktop)
			float right
			flechaIzq()
	&.item6
		+for_breakpoint(tablet desktop)
			float right
			flechaDer()
			.imagen-destacada
				order 2
	&:hover
		.imagen-destacada
			img
				opacity 1

.single__ruta__info
	background-color color-secundario
	padding 20px
	height 200px
	position relative
	display flex
	flex-direction column
	justify-content center
	text-align left
.single__ruta__entradilla
	text-align left
	font-weight 700
	color #9FBD7C
	font-style italic

/*------------------------------------*\
    PAGES
\*------------------------------------*/
/** PRINCIPAL */









/** EFECTO POLAROID */
// div.foto
// 	background-color #ffffff
// 	box-shadow 0 3px 6px rgba(0,0,0,.25)
// 	display block
// 	float left
// 	margin 0
// 	padding 5px
// 	transform rotate(-10deg)
// 	width auto
// 	&:nth-child(even)
// 		transform rotate(10deg)
// 		margin-top -70px
// .fotografia
// 	box-shadow 0 3px 6px rgba(0,0,0,.25)
// 	height auto
// 	width 100%
// .imagen-destacada
// 	position relative

// .destacados
// 	.info-destacado
// 		width 100%




////////////////////////////// FORMULARIO //////////////////////////////////////
.wpcf7-form
	width 90%
	margin 0 auto
	+for_breakpoint(tablet desktop)
		width 40%
	input,
	textarea
		border 1px solid #c0c0c0
		border none
		border-radius 5px
		box-shadow inset 0 0 10px #e1e1e1
		height 30px
		width 100%
	textarea
		height 300px
	.wpcf7-submit
		background color-primario
		box-shadow none
		text-align center
		padding 5px 20px
		color white
		font-weight bold
		border none
		text-transform uppercase
		width auto



//////////////////////// PAGINACION ///////////////////////////////////
.paginacion
	list-style none
	margin: 0
	padding: 0
	float right
	li
		float left
		padding 0 10px
		a
			font-weight bold
			color color-primario




/*------------------------------------*\
    WORDPRESS CORE
\*------------------------------------*/

// .alignnone {
// 	margin:5px 20px 20px 0
// }
// .aligncenter,
// div.aligncenter {
// 	display:block
// 	margin:5px auto 5px auto
// }
// .alignright {
// 	float:right
// 	margin:5px 0 20px 20px
// }
// .alignleft {
// 	float:left
// 	margin:5px 20px 20px 0
// }
// a img.alignright {
// 	float:right
// 	margin:5px 0 20px 20px
// }
// a img.alignnone {
// 	margin:5px 20px 20px 0
// }
// a img.alignleft {
// 	float:left
// 	margin:5px 20px 20px 0
// }
// a img.aligncenter {
// 	display:block
// 	margin-left:auto
// 	margin-right:auto
// }
// .wp-caption {
// 	background:#FFF
// 	border:1px solid #F0F0F0
// 	max-width:96%
// 	padding:5px 3px 10px
// 	text-align:center
// }
// .wp-caption.alignnone {
// 	margin:5px 20px 20px 0
// }
// .wp-caption.alignleft {
// 	margin:5px 20px 20px 0
// }
// .wp-caption.alignright {
// 	margin:5px 0 20px 20px
// }
// .wp-caption img {
// 	border:0 none
// 	height:auto
// 	margin:0
// 	max-width:98.5%
// 	padding:0
// 	width:auto
// }
// .wp-caption .wp-caption-text,
// .gallery-caption {
// 	font-size:11px
// 	line-height:17px
// 	margin:0
// 	padding:0 4px 5px
// }